@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$greyish: #2F2E3E;
$offwhite: #E6E8BF;
$yellow: #DDDA00;
$orange: #F27900;
$red: #DD1D00;

$primary: $offwhite;
$dark: $greyish;
$light: $offwhite;

$navbar-box-shadow-color: $red;
$label-color: $orange;
$button-background-color: $greyish;
$button-color: $offwhite;
$button-hover-color: $orange;
$link: $orange;

$button-focus-border-color: $offwhite;
$button-border-color: $offwhite;
$button-hover-border-color: $offwhite;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;

$table-cell-border: 1px solid $orange;
$table-row-hover-background-color: $orange;
$table-color: $greyish;
$table-cell-heading-color: $greyish;
$table-cell-color: $orange;
$table-background-color: $offwhite;

// Update some of Bulma's component variables
$body-background-color: $greyish;
$box-background-color: $offwhite;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "node_modules/bulma/sass/utilities/_all.sass";
@import "node_modules/bulma/sass/base/_all.sass";
@import "node_modules/bulma/sass/elements/_all.sass";
@import "node_modules/bulma/sass/form/_all.sass";
@import "node_modules/bulma/sass/components/navbar.sass";
@import "node_modules/bulma/sass/layout/hero.sass";
@import "node_modules/bulma/sass/layout/section.sass";
@import "node_modules/bulma/sass/utilities/functions";
@import "node_modules/bulma/sass/helpers/_all.sass";
@import "node_modules/bulma/sass/grid/_all.sass";
